# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### String Manipulation

##### .lstrip()

In [54]:

# string.lstrip()
name = "     hJohn Smith"
print(name.lstrip(" " "h"))

John Smith

##### .rstrip()

In [2]:

# string.rstrip()
name = "Bill Ross     th"
print(name.rstrip(" " "th"))

Bill Ross

##### .strip()

In [3]:
# string.strip()
name = "     John Smith     th"
print(name.strip("ah"))

     John Smith     t

##### .title()

In [4]:
# string.title()
# string.title()
president = "barak obama"

print(president.title())

Barak Obama

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [5]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
clean_names = []

for name in names:
        clean_names.append(name.strip().capitalize())
            
print(clean_names)

['Connor', 'Max', 'Evan', 'Jordan']

In [6]:
for i in range(len(names)):
    names[i] = names[i].strip().title()
    
names

['Connor', 'Max', 'Evan', 'Jordan']

### Working With Lists

##### min()

In [7]:
# min(list)
numbers = [45,7,34,6,235,765,34]

min(numbers)
titlemorethan4 = []
for x in names1:
    if len(x) >= 4:
        titlemorethan4.append(x)

print(titlemorethan4)

6

In [8]:
names

['Connor', 'Max', 'Evan', 'Jordan']

In [9]:
min(names)

'Connor'

In [10]:
new_names = ['brian', 'Brian', 56]

In [65]:
ord('b')

98

##### max()

In [12]:
# max(list)
print(max(numbers))
print(max(names))

765
Max

##### sum()

In [13]:
# sum(list)
sum([1,2,3,4])

10

##### sorted()

In [14]:
# sorted(list)
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [15]:
print(sorted(numbers))
print(sorted(numbers, reverse=True))

[6, 7, 34, 34, 45, 235, 765]
[765, 235, 45, 34, 34, 7, 6]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [16]:
# list.sort()
new_sorted_list = numbers.sort()

print(new_sorted_list)

# use sorted when you don't want to alter original list, use .sort() when you want to alter original list

None

In [44]:
print(numbers)

[6, 7, 34, 34, 45, 235, 765]

##### Copying a List

In [18]:
# [:] copies a list, doesn't alter original
list_a = ['A','B','C']
list_b = list_a
list_c = list_a[:]

print(list_a)
print(list_b)
print(list_c)

list_a == list_b == list_c

['A', 'B', 'C']
['A', 'B', 'C']
['A', 'B', 'C']

True

In [19]:
list_a is list_b

True

In [20]:
list_a.append('D')

print(list_a)
print(list_b)
print(list_c)

['A', 'B', 'C', 'D']
['A', 'B', 'C', 'D']
['A', 'B', 'C']

In [21]:
list_c.append('E')

print(list_a)
print(list_b)
print(list_c)

['A', 'B', 'C', 'D']
['A', 'B', 'C', 'D']
['A', 'B', 'C', 'E']

##### 'in' keyword

In [22]:
ct_instructors = ["Brian", "Tatyana", "Nate"]

'Brian' in ct_instructors

True

##### 'not in' keyword

In [23]:
'Nate' not in ct_instructors

False

In [24]:
'Taty' not in ct_instructors

True

##### Checking an Empty List

In [25]:
# if l_1: or if l_1 = []
empty_list = []

empty_list == []

True

In [26]:
test_list=[]

if test_list:
    print("The list evaluated to true, therefore not empty")
else:
    print('The list evaluated to false, therefore must be empty')

The list evaluated to false, therefore must be empty

##### Removing Instances with a Loop

In [27]:
# while, remove

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [28]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier
no_double = []
for name in names:
    if name not in no_double:
        no_double.append(name)
print(no_double)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

In [29]:
set(names)

{2, 3, 4, 'bob', 'connor', 'evan', 'kevin', 'max'}

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [30]:
# number comprehension
nums= []
# With a regular for loop
for i in range(1, 101):
    nums.append(i)
    
print(nums)

# IN a list comprehension we have a few pieces:
# The first is the counter/ variable - IN this the variable is x
# Then we have a transform for the variable 
# The finale part of a list comp is called the condition
#[variable, transform, condition]
nums_comprehension = [i for i in range(1, 101)]

print(nums_comprehension)

nums == nums_comprehension

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

True

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [31]:
# square number comprehension
squares_loop = []

for x in range(10):
    squares_loop.append(x**2)
    
print(squares_loop)

squares_comprehension = [x**2 for x in range(10)]

print(squares_comprehension)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
# string comprehension
cities = ['Chicago', 'New York', 'Los angeles', 'Denver', 'Champaign']

first_letters = [city[0] for city in cities]
first_letters

['C', 'N', 'L', 'D', 'C']

In [33]:
#adding filters to list comprehension

cities_starting_with_c = []


for city in cities:
    if city[0] == 'C':
        cities_starting_with_c.append(city)

print(cities_starting_with_c)

['Chicago', 'Champaign']

In [34]:
#Using an if in list comprehension   ... filter comes after

c_cities = [city for city in cities if city[0]=='C']
c_cities

['Chicago', 'Champaign']

In [35]:
some_example = [i ** 2 +  i for i in range(100) if i % 3 == 1 and i % 8 == 2]

some_example

[110, 1190, 3422, 6806]

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [36]:
# Syntax 1: tuple = (, )
# Syntax 2: tuple = ,

tup1 = (1,2,3,4,5,6)
tup2 = 1, 2, 3

print(tup1)
print(type(tup1))
      
print(tup2)
print(type(tup2))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>
(1, 2, 3)
<class 'tuple'>

In [37]:
# tuples are indexable
print(tup1[2])

#Tuples can be sliced 
print(tup1[2:5])


#tuples are iterable
for e in tup1:
    print(e)

3
(3, 4, 5)
1
2
3
4
5
6

In [38]:
tup1.append()

AttributeError: 'tuple' object has no attribute 'append'

In [39]:
list_a = ['a','b', 'c']
tup_a = ('a','b', 'c')

tup_a[1] = 'd'
print(list_a)
print(tup_a)

TypeError: 'tuple' object does not support item assignment

In [40]:
for i in enumerate(list_a):
    print(i, type(i))

(0, 'a') <class 'tuple'>
(1, 'b') <class 'tuple'>
(2, 'c') <class 'tuple'>

##### sorted()

In [41]:
tup3 = (24, 56, 5, 23, 63)


sorted_tuple = sorted(tup3)
print(sorted_tuple)
print(type(sorted_tuple))
print(tup3)

[5, 23, 24, 56, 63]
<class 'list'>
(24, 56, 5, 23, 63)

##### Adding values to a Tuple

In [42]:
tup4 = (2,5,9)
tup5 = (3,6,10)


tup6 = tup4+tup5

print(tup6)

(2, 5, 9, 3, 6, 10)

In [43]:
tup6 = tup6 + (5,)
print(tup6)

(2, 5, 9, 3, 6, 10, 5)

## Functions

##### User-Defined vs. Built-In Functions

##### Accepting Parameters

##### Default Parameters

##### Making an Argument Optional

##### Keyword Arguments

In [ ]:
# last_name='Max', first_name='Smith' in the function call

# see above

# Creating a start, stop, step function

##### Returning Values

##### *args

##### Docstring

##### Using a User Function in a Loop

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [ ]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']
def fullname(first, last):
    first name

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

# Exercises

## Exercise 1

<p>Create a list of numbers that are less than ten using l_1 and list comprehension</b></i></p><br>
<p>Your output should [1,5,8,9]</p>

In [56]:
# Use the following list - [1,11,14,5,8,9]

l_1 = [1,11,14,5,8,9]

# no_ten=[]

# for x in l_1:
#     if x < 10:
#         no_ten.append(x)

# print(no_ten)

no_ten = [x for x in l_1 if x<10]
print(no_ten)

[1, 5, 8, 9]

## Exercise 2

Using list comprehension, create a list of names of 4 letters or more and capitalize each name

In [69]:
names1 = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 'bob', 'kevin']

# titlemorethan4 = []
# for x in names1:
#     if len(x) >= 4:
#         titlemorethan4.append(x)

# print(titlemorethan4)

titlemorethan4 = [x.title() for x in names1 if len(x) >= 4 ]
print(titlemorethan4)




# Bonus Challenge
names2 = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']

# no_num_title_names = [x.title for x in names2 if len(x) >=4]

['Connor', 'Connor', 'Connor', 'Evan', 'Evan', 'Kevin']

TypeError: object of type 'int' has no len()